@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  * {
    transition-property: background-color, border-color, color, fill, stroke;
    transition-timing-function: ease;
    transition-duration: 200ms;
  }
}

@theme {
  /*Para el tema claro*/
  --color-background: #f7f7fb;
  --color-superficie: #ffffff;
  --color-superficie-alterna: #f0f1f7;
  --color-text-primary: #1a1b2e;
  --color-text-secondary: #5d6072;
  --color-border: #e3e4ee;
  --color-primary: #6659f2;
  --color-primary-dark: #4f42d6;
  --color-accent: #1fbf8f;

  /*Glow Primary*/
  --color-glow-primnary: color-mix(
    in srgb,
    var(--color-primary-dark) 28%,
    transparent
  );

  /*Glow Secondary*/

  --color-glow-secondary: color-mix(
    in srgb,
    var(--color-accent) 25%,
    transparent
  );

  /*Para el tema oscuro*/

  --color-background-dark: #12131c;
  --color-superficie-dark: #1a1b29;
  --color-superficie-alterna-dark: #212233;
  --color-text-dark: #ededf7;
  --color-text-secundario-dark: #9a9cb5;
  --color-bordes-dark: #2e3044;
  --color-primary-dark-mode: #8b84ff;
  --color-primary-dark-dark: #6a62e8;
  --color-accent-dark: #2fe0a8;
}
